<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firstapp/index</title>
</head>
<body>
   hi this is index 
<!-- 
   we have moved to blueprints. we now have made apps separate. so now we cant just
   use url_for('new') because url_for does not know which apps function we are calling.
   so we have to use appname.function now -->
   <a href="{{url_for('firstapp.new')}}">Go to New</a> <br>

   <!-- Now in the second tutorial we are trying to add two apps into blueprint so that
   we can learn the structures. and as usual with two apps, we must define url_for
   with the name of the app and the function we are trying to route. here we are
   routing to the second app from first app -->
  <h4> <a href="{{url_for('secondapp.index')}}">Go to SeconApp</a> </h4>
</body>
</html>