{% extends 'base.html' %}
{% block title  %}HomePage{% endblock title  %}

{% block body %}
<br>
<br>
    <div class="container">
        <form method="post">
            <!--Will show basic html structure of form-->
            <div class="form-group">
            {{form.hidden_tag()}}
            {{form.name.label}} {{form.name( class="form-control")}} <br>
            {{form.text.label}} {{form.text}} <br>
            {{form.age.label}} {{form.age}} <br>
            {{form.bool_value.label}} {{form.bool_value}} <br>
            {{form.choice.label}} {{form.choice}} <br>
            {{form.select.label}} {{form.select}} <br>
             {{form.submit}} <br>
            </form>
        </div>
    </div>
    
    {% endblock body %}


<!-- There is another way of using Forms into python. Like traditional form fileds,i just have to define
name="formname" into the form name variable.so when i wil submit the data, i no longer have to use
flask wtf. i have to use[[ request.form.get("name of the filed") ] ]and can access the form data.
then i can define the action variable using url_for('index') to redirect the form 
data into the desired functioname

demo:
       <form action="{{url_for('anyfunc_that_Will process these data')}}" method="post">

        <input type="text" name="name">
        <button type="submit">Submit</button>
       </form> -->