<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seconapp/index</title>
</head>
<body>
    this is the index page
     <a href="{{url_for('secondapp.connect')}}" target="_blank" rel="noopener noreferrer">Go to Connect</a>

     <form action="{{url_for('secondapp.connect')}}" method="post">

        Name: <input type="text" name="name">
        <button type="submit">Submit</button>

     </form>
</body>
</html>